:root {
  --main-bg-color: #FD2D01;
  --2-bg-color:   #4E5166;
  --3-bg-color:  #FFD7D7;

}

body {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--2-bg-color);
  font-family: Lato;
}
.homeListOfPost {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--2-bg-color);
  width: 100%;
  }
.logo1 {
  width: 150px;
  /* margin-left: 20px; */
}
img {
  max-width: 100%;
  max-height: 100%;
}
h1 {
  color: wblack;
}
.createPost {
  margin: 10px;
  color: white;
}
.logout {
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
.buttons {
  color: black;
}
.buttons :hover{
  /* color: var(--3-bg-color); */
  cursor: pointer;
}
button {
  padding: 10px;
  height: 35px;
  border: 2px, solid, black;
  background-color: var(--3-bg-color);
  border-radius: 8px;
  color: black;
}

button:hover {
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: white;
}

/* POST */

.LinkPreview {
  display: flex;
  border-radius: 10px;
}

.LinkPreview .Container{
  width: 100px;
  height: 150px;
}
.LinkPreview .Title{
  font-size: 60%;
}
.LinkPreview span {
  font-size: 60%;
}
.ContainerFile {
display: flex;
align-content: center;
width: 100px;
height: 150px;
border-radius: 7px;
border: 1px, solid, black;
}
.ContainerFile img {
  border-radius: 7px;
  overflow: hidden;
}

.postContainer {
  display: flex;
  justify-content: space-around, flex-start, flex-end;
  width: 350px;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: black;
  position: relative;
}
.post {
  width: 100%;
  border: 2px solid var(--main-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: Lato;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.post .title {
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex: 20%;
  border-bottom: 2px solid var(--main-bg-color);
  background-color: var(--3-bg-color);
  display: grid;
  place-content: center;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.post .link {
  flex: 20%;
  border-bottom: 1px solid var(--main-bg-color);
  background-color: var(--2-bg-color);
  display: grid;
  place-content: center;
  color: black;
}
.borderFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post .body {
  padding: 10px;
  flex: 60%;
  border-color: black;
  background-color:  rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
}
.bodyText {
  margin: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
.bodyText a{
  color: black;
}
.post .body text {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.post .footer {
  flex: 20%;
  border-top: 2px solid var(--main-bg-color);
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--3-bg-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.date {
  width: 150px;
}

.post .footer a {
  color: black;
}
/* .post .footer a:hover {
  color: var(--3-bg-color);
} */

.footer .userName {
  display: flex;
  flex: 50%;
  flex-direction: row;
  color: black;
}

.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.unlikeBttn {
  color: black;
}
.likeBttn:hover{
  cursor: pointer;
  /* color: var(--3-bg-color); */
}
.unlikeBttn:hover {
  cursor: pointer;
  color: black;
}

.buttons label {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

/* CREATE POST PAGE CSS */

.createPage {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--2-bg-color);
  width: 100%;
  height: 100vh;
  }
.formContainer {
  text-align: center;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 50px;
  padding: 20px;
  /* border: 1px solid white; */
  /* border-radius: 5px; */
  /* background-color: rgba(255, 255, 255, 0.8); */
}
.formContainer label {
  color: white;
}

.formContainer #inputCreatePost {
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.8);
}

.formContainer button {
  margin-top: 15px;
  height: 35px;
  border: 1px solid white;
  background-color: var(--3-bg-color);
  border-radius: 5px;
  color: black;
}

.formContainer input {
  height: 35px;
}
.formContainer button:hover {
  cursor: pointer;
  background-color: rgba(169, 14, 14, 1);
  color: white;
  ;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  padding: 10px;
  width: 100%;
  height: 70px;
  background-color: var(--3-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Lato;
  border-bottom: 2px solid var(--main-bg-color);
}
.navbar .links {
/* padding-left: 30px; */
  flex: 50%;
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .loggedInContainer {
  /* flex: 50%; */
  min-width: 10px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
.navbar h1 {
  padding-bottom: 5px;
  text-align: right;
  margin: 10px;
  color: #1c2c4c;
  font-weight: lighter;
  font-family: Lato;
}
/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--2-bg-color);
  place-items: center;
}
.leftSide {
  flex: 50%;
  /* height: calc(100vh - 70px); */
  display: grid;
  place-items: center;
}
.rightSide {
  flex: 50%;
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}
.rightSide .addCommentContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 20%;
  place-items: center;
}
.addCommentContainer input {
  overflow: visible;
  height: 35px;
  width: 250px;
  border-radius: 8px;
  border: 2px solid var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.8);
}
.addCommentContainer button {
  height: 40px;
  width: 100px;;
  background-color: var(--3-bg-color);
  border-radius: 8px;
  color: black;
  border: 2px solid var(--main-bg-color);
}
.addCommentContainer button:hover {
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: white;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}
.listOfComments .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 335px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid var(--main-bg-color);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}
.commentLeft label{
font-weight: bold;
}

 .commentRight:hover{
cursor: pointer;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: var(--2-bg-color);
}
.loginContainer label {
  color: white;
  font-family: Lato;
}

.loginContainer input {
  width: 300px;
  height: 35px;
  border-radius: 8px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Lato;
}

.loginContainer button {
  background-color:var(--3-bg-color);
  color: black;
  width: 300px;
  height: 35px;
  border-radius: 8px;
  margin: 10px;
}

.loginContainer button:hover {
  background-color: var(--main-bg-color);
  cursor: pointer;
  color: white;
}


/* PROFILE */

.profilePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--2-bg-color);
  width: 100%;


}
.profilePageContainer .listOfPosts {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--2-bg-color);
  width: 100%;
}
.registerPage{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--2-bg-color);
}
.basicInfo {
  display: flex;
  flex-direction: column;
align-items: center;
}
